[
    {elvis, [
        {verbose, true},
        {config, [
            #{
                dirs => ["apps/*/**"],
                filter => "*.erl",
                rules => []
            },
            #{
                dirs => ["."],
                filter => "elvis.config",
                ruleset => elvis_config
            },
            #{
                dirs => [".", "apps/*"],
                filter => "rebar.config",
                rules => []
            },
            #{
                dirs => ["apps/*/src"],
                filter => "*.app.src",
                rules => []
            }
        ]}
    ]}
].
