{erl_opts, [debug_info]}.

{deps, []}.

{dialyzer, [
    {plt_apps, all_deps}
]}.

{project_plugins, [
    {erlfmt, "1.6.2"},
    {rebar3_lint, "3.2.6"}
]}.

{erlfmt, [
    write,
    {print_width, 80},
    {files, [
        "apps/*/{src,include,test}/*.{hrl,erl,app.src}",
        "apps/*/rebar.config",
        "rebar.config",
        "elvis.config"
    ]}
]}.

{elvis_output_format, colors}.

%% See https://rebar3.org/docs/deployment/releases/
{relx, [
    {release, {pinger, "main"}, [
        bingobongo
    ]},
    {mode, minimal},
    {extended_start_script, true},
    {overlay, [
        {template, "config/vm.args", "releases/{{release_version}}/vm.args"},
        {copy, "config/erl_inetrc", "erl_inetrc"}
    ]}
]}.
